<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.promotion.mapper.PromotionMapper">

    <select id="selectActivePromotionProducts" resultType="com.example.promotion.model.PromotionProduct">
		SELECT p.prod_cd
		    , p.prod_nm
		    , pm.promo_price
		    , pm.start_dt
		    , pm.end_dt
		FROM tb_product p, tb_promotion pm
		WHERE p.prod_cd = pm.prod_cd
		  AND p.use_yn = 'Y'
		<if test="promoName != null and promoName != ''">
		  AND pm.promo_name LIKE '%' || #{promoName} || '%'
		</if>
		<if test="prodNm != null and prodNm != ''">
		  AND p.prod_nm LIKE '%' || #{prodNm} || '%'
		</if>
		<if test="startDt != null and startDt != ''">
		  AND pm.start_dt <= TO_DATE(#{startDt})
		</if>
		<if test="endDt != null and endDt != ''">
		  AND pm.end_dt  >= TO_DATE(#{endDt})
		</if>
		    </select>

</mapper>